@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<footer class="footer" style="opacity:1">
                
                
    <div id="ctl00_ctlfooter_footerText"><div class="container">
                    <div class="title-bar">
                        <span class="float-left">Helpful Links</span>
                        <div class="social" id="social">
                            <ul class="tooltip">
                                <li class="fb"><a href="https://www.facebook.com/AAFANational" title="Facebook"  rel="nofollow" target="_blank"><span>Facebook</span></a></li>
                                <li class="ig"><a href="https://www.instagram.com/aafanational/" title="Instagram" rel="nofollow" target="_blank"><span>Instagram</span></a></li>
                                <li class="tw"><a href="https://twitter.com/AAFANational" title="Twitter" rel="nofollow" target="_blank"><span>Twitter</span></a></li>
                                <li class="yt"><a href="https://www.youtube.com/user/ForLifeWithoutLimits" title="Youtube" rel="nofollow" target="_blank"><span>Youtube</span></a></li>
                                <li class="lk"><a href="https://www.linkedin.com/company/asthma-and-allergy-foundation-of-america/" rel="nofollow" title="Linkedin" target="_blank"><span>LinkedIn</span></a></li>
                            
                                <li class="rs"><a href="http://feeds.feedburner.com/asthma-allergy" title="<%= Resources.labels.subscribe %>"><span>RSS Feed</span></a></li>
                                <li class="sh"><a href="/subscribe/"></a><span>Subscribe</span></a></li>
                                </ul>
                        </div>
                    </div>
                    <div class="footer-links clearfix">
                        <ul>
                            <li><a href="/asthma-capitals/">Asthma Capitals</a></li>
							<li><a href="/asthma-facts/">Asthma Facts</a></li>
                            <li><a href="/asthma-research/">Asthma Research</a></li>
                            <li><a href="/asthma-triggers-causes/">Asthma Triggers</a></li>
                        </ul>
                        <ul>
                            <li><a href="/allergy-capitals/">Allergy Capitals</a></li>
							<li><a href="/allergy-facts">Allergy Facts</a></li>
                            <li><a href="/allergy-research/">Allergy Research</a></li>
    						<li><a href="/allergy-treatments/">Allergy Treatment</a></li>
                        </ul>
                        <ul>
                            <li><a href="/regional-aafa-chapters/">AAFA Chapters</a></li>
                            <li><a href="/aafa-affiliated-asthma-allergy-support-groups/">Find a Local Support Group</a></li>
                            <li><a href="https://www.aafa.org/join.aspx">Join Our Action Network</a></li>
                            <li><a href="http://kidswithfoodallergies.org" target="_blank">Kids With Food Allergies</a></li>
                        </ul>
                        <ul>
                            <li><a href="https://community.aafa.org/">Join Our Asthma Community</a></li>
                            <li><a href="/health-care-professionals/">Health Professionals</a></li>
                            
                            <li><a href="/fundraise-for-aafa/">Fundraise for AAFA</a></li>
                            <li><a href="/make-a-donation/">Make a Donation</a>
                            </li>
                            <li><a href="/store/">Shop to Support</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-widgets container text-center">
                 
                     <a href="http://www.hon.ch/HONcode/Conduct.html?HONConduct236968" class="float-right" target="_blank"><img src="/media/1050/logo_hon.jpg" /></a>
                    <a href="https://nationalhealthcouncil.org/" class="float-right" target="_blank"><img src="/media/1051/logo_nhc.jpg" /></a>
                    <a href="https://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=6716" class="float-left" target="_blank"><img src="/media/1049/logo_cn.jpg" /></a>
                    <a href="http://www.give.org/charity-reviews/national/health/asthma-and-allergy-foundation-of-america-in-landover-md-944" class="float-left" target="_blank"><img src="/media/1048/logo_bbb.jpg" /></a>
                    <div class="tagline">for life without limits&#8482;</div>
                    <p class="text-center" style="line-height:1.4"><strong>Asthma and Allergy Foundation of America</strong><br />
                         1235 South Clark Street Suite 305, Arlington, VA 22202<br />
                        Phone: 1-800-7-ASTHMA (1.800.727.8462) </p>                        
<div class="text-center"><a  href="/contact-us/">Contact Us Online</a></div>
                </div>
                <div class="footer-line">
                    <div class="container text-center">
                        <ul>
                            <li><a href="/privacy-policy-and-terms-of-services/">Privacy and Terms</a></li>
                        </ul>
                        <p>Copyright &copy; 1995-2020. Asthma and Allergy Foundation of America. <br> All rights reserved.</p>
                        <p class="text-center contact-mob"><a  href="/contact-us/">Contact Us Online</a></p>
                  
                          </div>
                </div></div> 

            </footer>
            <br><br>
        </div>
