@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


<section class="container main-section clearfix" style="display:none;">
                <section class="content float-left">
                </section>
                <aside class="sidebar float-right">     
                </aside>
            </section>
<section class="container main-section clearfix">
               @Umbraco.RenderMacro("PageHeader")
              
                <div class="content float-right">
                    
  <div id="page" class="page-global">
     
							@Html.Raw(CurrentPage.mainContent)
							
     
   </div>
</div>

<aside class="sidebar float-left">
               @Umbraco.RenderMacro("sidebarWidget")
                </aside>
            </section>
