@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="headerSection">
           <div class="headerDrug">
              <h3>Drug Information</h3>
            </div>
            <div class="headerSideEffects">
               <h3>Possible Side Effects</h3>
             </div>
             <div class="headerImage">
                <h3>Image</h3>
              </div>
          </div>