@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<p align="center"><a href="/media/2477/aafa-2019-state-honor-roll-report.pdf" target="_blank"><img alt="State Honor Roll report 2019" src="/media/2472/shr-report-2019-cover-thumbnail.png" title="State Honor Roll report 2019" style="border: 2px #A9A9A9 solid"/></a><br />
<a href="/media/2477/aafa-2019-state-honor-roll-report.pdf" target="_blank"><strong>View this year&rsquo;s full report</strong></a>&nbsp;<img alt="Download PDF" src="/media/1755/pdf-24x24.png" style="margin-left: 1px; margin-right: 1px; vertical-align:middle" /></p>

