@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<p align="center"><a href="/media/1360/2016-state-honor-roll-report-asthma-allergy-policies-in-schools.pdf" onclick="ga('send', 'event', 'PDF', 'download', 'PDF-SHR-Report2016');" target="_blank"><img alt="State Honor Roll report 2016" src="/media/1916/shr-report-cover-thumbnail.png" title="State Honor Roll report 2016" /></a><br />
<a href="/media/1360/2016-state-honor-roll-report-asthma-allergy-policies-in-schools.pdf" onclick="ga('send', 'event', 'PDF', 'download', 'PDF-SHR-Report2016');" target="_blank"><strong>View this year&rsquo;s full report</strong></a>&nbsp;<img alt="Download PDF" src="/media/1755/pdf-24x24.png" style="margin-left: 1px; margin-right: 1px; vertical-align:middle" /></p>

