@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div class="backdrop">
    <object data="https://cui-dot-aafa-central.appspot.com">
    <embed src="https://cui-dot-aafa-central.appspot.com" > </embed>
   
</object>
</div>