@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div style="border:2px solid #444444; padding:10px; margin-top:0px; margin:bottom:20px; font-family: 'Open Sans', sans-serif;">
		<h3 style="text-align:center; ">Join Our Online Support Community</h3>
		<form method="get" action="https://community.aafa.org/join" id="Join" name="AAFAJoin">
				<p style="color:#444444">Email:<input type="text" name="email" value="" maxlength="40" style="width:100%"></p>
				<p style="color:#444444">Display Name: <input type="text" name="displayName" value="" maxlength="40" style="width:100%"></p>
			<p style="text-align:center; font-size:18; line-height:24px"><input type="submit" value="Join Now"></p><p>
				We are dedicated to imp roving the quality of life for people with asthma and allergic diseases. Our support community is here for you 24/7.  You can connect with others who understand what it is like to live with asthma and allergies. You're not alone.
				</p>
				<p style="display:block; text-align:center "><img src="https://www.aafa.org/media/1003/aafa-mobile.png"/>
				
				
				
				</p>
				
				
			</form></div>