.textboxteal {  border-color: #27bac2;}
.textboxteal .widget-header { background-color: #27bac2; }
.communitysupport { border-color: #27bac2; }
.communitysupport .widget-header { background-color: #27bac2;}
.asthmacommunity { border-color: #27bac2;}
.asthmacommunity .widget-header {background-color: #27bac2;}
.asthmaresearch { border-color: #27bac2;}
.asthmaresearch .widget-header { background-color: #27bac2;}
.advocacyblog {padding: 0;}
.addavoice {border-color: #62b30c;}
.addavoice .widget-header {background-color: #62b30c;}
.sharing {border: none;}
.sharing h4 { display: none;}
.sharing div {padding-left: 17px;}
.textboxdarkgreen {border-color: #62B30C;}
.textboxdarkgreen .widget-header { background-color: #62B30C;}
.textboxlightgreen { border-color: #b9c331;}
.textboxlightgreen .widget-header {background-color: #b9c331;}
.textboxblue { border-color: #33B0DC;}
.textboxblue .widget-header {background-color: #33B0DC;}
.textboxgreen { border-color: #62b30c;}
.textboxgreen .widget-header {background-color: #62b30c;}
.aafaallergies {border-color: #62b30c;}
.aafaallergies .widget-header { background-color: #62b30c;}
.aafaasthma {border-color: #27bac2;}
.aafaasthma .widget-header {  background-color: #27bac2;}
.aafaame {border-color: #27bac2;}
.aafaame .widget-header {background-color: #27bac2;}
.pollencom {border-color: #62b30c;}
.pollencom .widget-header {background-color: #62b30c;}
.textboxorange {border-color: #FFA500;}
.textboxorange.widget-header {background-color: #FFA500;}
.certifiedproducts {border-color: #27bac2;}
.certifiedproducts .widget-header {background-color: #27bac2;}
.certifiedproductsapp {border-color: #27bac2;}
.certifiedproductsapp .widget-header { background-color: #27bac2;}
.findanaafachapter {border-color: #f58220;}
.findanaafachapter .widget-header {background-color: #f58220;}
.contactaafa { border-color: #27bac2;}
.contactaafa .widget-header { background-color: #27bac2;}
.testwidget { border-color: orange;}
.testwidget .widget-header {background-color: #f58220;}
.playbook {border-color: #27bac2;}
.playbook .widget-header {background-color: #27bac2;}
.adglareads { border: none;}
.sponser {border: none;}
.noBorder {border: none;}
.taphoto {border-color: #27bac2;}
.taphoto .widget-header {background-color: #27bac2;}
.stateprofile {border-color: #f58220;}
.stateprofile .widget-header {background-color: #f58220;}
.widget_ad_color {background-color: #ececec; padding: 4px;}
.widget_ad_header {text-align: center;font-size: .75em; color: #565656;}
li.title {color: #263f52;}
.asthmaallergynews {padding: 0;}
