@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.InternalForm>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "FormMaster.cshtml";
}
 

            
						@Umbraco.Field("mainContent")
					
        </div>
        

    </section>
</section>              