@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.InternalFormList>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
@Umbraco.Field("mainContent")

</div>
        

    </section>
</section>