@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TextPageSupport>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "LandingmasterSupport.cshtml";
}
<section class="container main-section clearfix" style="display:none;">
                <section class="content float-left">
                </section>
                <aside class="sidebar float-right">     
                </aside>
            </section>
<section class="container main-section clearfix">
               <h1>About AAFA</h1>
              
                <div class="content float-right">
                    
  <div id="page" class="page-global">
<h2>Find a Local Support Group</h2>
<p>AAFA has educational support groups all across the country to offer emotional support and information about asthma and allergies. These groups host guest speakers, events and more. Each group also has a medical advisor. Please click on a state for more information on their local support groups</p>

<div id="image-map-pro-container"></div>


<div style="width:100%">
<div style="width:33%; float:left">
<h3>International</h3>

<form method="get" name="ESG-locations-International"><select name="Location" onchange="location = this.options[this.selectedIndex].value;" size="1"><option value="">Please Select</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#BE">Bermuda</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#Guam">Guam</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#India">India</option></select></form>
</div>

<div style="width:33%; float:left">
<h3>United States</h3>

<form method="get" name="ESG-locations-US"><select name="Location" onchange="location = this.options[this.selectedIndex].value;" size="1"><option value="">Please Select</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#AL">Alabama</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#AK">Alaska</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#AZ">Arizona</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#AR">Arkansas</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#CA">California</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#CO">Colorado</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#CT">Connecticut</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#DE">Delaware</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#DC">District of Columbia</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#FL">Florida</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#GA">Georgia</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#HI">Hawaii</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#ID">Idaho</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#IL">Illinois</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#IN">Indiana</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#IA">Iowa</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#KS">Kansas</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#KY">Kentucky</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#LA">Louisiana</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#ME">Maine</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#MD">Maryland</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#MA">Massachusetts</option><
<option value="/aafa-affiliated-asthma-allergy-support-groups/#MI">Michigan</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#MN">Minnesota</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#MS">Mississippi</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#MO">Missouri</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#MT">Montana</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#NE">Nebraska</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#NV">Nevada</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#NH">New Hampshire</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#NJ">New Jersey</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#NM">New Mexico</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#NY">New York</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#NC">North Carolina</option>

<option value="/aafa-affiliated-asthma-allergy-support-groups/#ND">North Dakota</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#OH">Ohio</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#OK">Oklahoma</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#OR">Oregon</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#PA">Pennsylvania</option>
<option value="/aafa-affiliated-asthma-allergy-support-groups/#RI">Rhode Island</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#SC">South Carolina</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#SD">South Dakota</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#TN">Tennessee</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#TX">Texas</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#UT">Utah</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#VT">Vermont</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#VA">Virginia</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#WA">Washington</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#WV">West Virginia</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#WI">Wisconsin</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#WY">Wyoming</option> </select></form>
</div>


<div style ="width:33%; float:left;">
<h3>Virtual</h3>

<form method="get" name="ESG-locations-Virtual"><select name="Location" onchange="location = this.options[this.selectedIndex].value;" size="1"><option value="">Please Select</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#afasg">Adult Food Allergic Support Group</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#aafa">AAFA&rsquo;s Asthma Community</option><option value="/aafa-affiliated-asthma-allergy-support-groups/#kfa">Kids With Food Allergies Community</option> </select></form>
</div>
</div>    
<p style="clear:both"/></p>
<h3>How Can I Start a Support Group?</h3>

@Umbraco.Field("mainContent")
@Umbraco.RenderMacro("supportgroups")
</div>
</div>

<aside class="sidebar float-left">
               
              
              <div class="widgetzone">@Umbraco.RenderMacro("sidebarWidget")
</div>
                </aside>
            </section> 
